<script type="text/javascript">
  $(function() {
    var myLatlng = new google.maps.LatLng(<%= @locations.first.latitude %>, <%= @locations.first.longitude %>);
    var myOptions = {
      zoom: 10,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);

    <% @locations.each_with_index do |location, index| %>
      var latLng_<%= index %> = new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>);
      var marker_<%= index %> = new google.maps.Marker({
        position: latLng_<%= index %>,
        map: map,
        title: "Hello World!"
      });

      google.maps.event.addListener(marker_<%= index %>, "click", function() {
        var infowindow_<%= index %> = new google.maps.InfoWindow({
          content: 'Marker <%= index %>',
          position: marker_<%= index %>.position
        });

        infowindow_<%= index %>.open(map);
      });
    <% end %>

  });

  mixpanel.track("View Map", { nickname: "<%= session[:nickname] %>" });

  <% if session[:created_map] %>
    mixpanel.track("Create Map", { nickname: "<%= session[:nickname] %>" });
    <% session[:created_map] = nil %>
  <% end %>
</script>

<div id="map"></div>